body {
    margin: 0px;
    background-color: #333333;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../客户信息_1_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:460px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:466px;
}

.u1 {
    position:absolute;
    left:2px;
    top:222px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../客户信息_1_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:44px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:50px;
}

.u3 {
    position:absolute;
    left:2px;
    top:12px;
    width:316px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../客户信息_1_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:0px;
    top:44px;
    width:320px;
    height:4px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:10px;
}

.u5 {
    position:absolute;
    left:2px;
    top:-6px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../客户信息_1_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:10px;
    top:14px;
    width:10px;
    height:16px;
}

#u6_img {
    position:absolute;
    left:0px;
    top:0px;
    width:10px;
    height:16px;
}

.u7 {
    position:absolute;
    left:2px;
    top:0px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../客户信息_1_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:10px;
    top:54px;
    width:200px;
    height:30px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:206px;
    height:36px;
}

.u9 {
    position:absolute;
    left:10px;
    top:2px;
    width:188px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../客户信息_1_files/u10_normal.png');
}

.u10_container {
    position:absolute;
    left:90px;
    top:88px;
    width:210px;
    height:30px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:216px;
    height:36px;
}

.u11 {
    position:absolute;
    left:10px;
    top:8px;
    width:198px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../客户信息_1_files/u10_normal.png');
}

.u12_container {
    position:absolute;
    left:90px;
    top:118px;
    width:210px;
    height:30px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:216px;
    height:36px;
}

.u13 {
    position:absolute;
    left:10px;
    top:8px;
    width:198px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../客户信息_1_files/u14_normal.png');
}

.u14_container {
    position:absolute;
    left:20px;
    top:88px;
    width:60px;
    height:60px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:66px;
}

.u15 {
    position:absolute;
    left:2px;
    top:22px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../客户信息_1_files/u16_normal.png');
}

.u16_container {
    position:absolute;
    left:20px;
    top:88px;
    width:60px;
    height:60px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:66px;
}

.u17 {
    position:absolute;
    left:2px;
    top:16px;
    width:56px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../客户信息_1_files/u18_normal.png');
}

.u18_container {
    position:absolute;
    left:10px;
    top:238px;
    width:300px;
    height:30px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:306px;
    height:36px;
}

.u19 {
    position:absolute;
    left:10px;
    top:10px;
    width:288px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../客户信息_1_files/u20_normal.png');
}

.u20_container {
    position:absolute;
    left:20px;
    top:272px;
    width:137px;
    height:30px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:143px;
    height:36px;
}

.u21 {
    position:absolute;
    left:2px;
    top:8px;
    width:133px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_normal {
    background-image: url('../客户信息_1_files/u18_normal.png');
}

.u22_container {
    position:absolute;
    left:10px;
    top:158px;
    width:300px;
    height:30px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:306px;
    height:36px;
}

.u23 {
    position:absolute;
    left:10px;
    top:10px;
    width:288px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_normal {
    background-image: url('../客户信息_1_files/u24_normal.png');
}

.u24_container {
    position:absolute;
    left:20px;
    top:192px;
    width:135px;
    height:30px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:141px;
    height:36px;
}

.u25 {
    position:absolute;
    left:2px;
    top:8px;
    width:131px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_normal {
    background-image: url('../客户信息_1_files/u24_normal.png');
}

.u26_container {
    position:absolute;
    left:165px;
    top:192px;
    width:135px;
    height:30px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:141px;
    height:36px;
}

.u27 {
    position:absolute;
    left:2px;
    top:8px;
    width:131px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_mouseOver {
    background-image: url('../客户信息_1_files/业绩查询_u28_mouseOver.png');
}

.u28_selected {
    background-image: url('../客户信息_1_files/业绩查询_u28_mouseOver.png');
}

.u28_normal {
    background-image: url('../客户信息_1_files/业绩查询_u28_normal.png');
}

.u28_container {
    position:absolute;
    left:260px;
    top:10px;
    width:50px;
    height:24px;
}

#u28_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:30px;
}

.u29 {
    position:absolute;
    left:2px;
    top:4px;
    width:46px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_start {
    background-image: url('../客户信息_1_files/u30_start.png');
}

.u30_start {
    position:absolute;
    left:-4px;
    top:-5px;
    width:14px;
    height:20px;
}

.u30_line {
    background-image: url('../客户信息_1_files/u30_line.png');
}

.u30_line {
    position:absolute;
    left:0px;
    top:4px;
    width:38px;
    height:3px;
}

.u30 {
    position:absolute;
    left:320px;
    top:108px;
    width:38px;
    height:10px;
    
}

.u31 {
    position:absolute;
    left:368px;
    top:105px;
    width:175px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

