body {
    margin: 0px;
    background-color: #333333;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../新浪微博_1_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:460px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:466px;
}

.u1 {
    position:absolute;
    left:2px;
    top:222px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../新浪微博_1_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:44px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:50px;
}

.u3 {
    position:absolute;
    left:2px;
    top:12px;
    width:316px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../新浪微博_1_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:0px;
    top:44px;
    width:320px;
    height:4px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:10px;
}

.u5 {
    position:absolute;
    left:2px;
    top:-6px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../新浪微博_1_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:10px;
    top:14px;
    width:10px;
    height:16px;
}

#u6_img {
    position:absolute;
    left:0px;
    top:0px;
    width:10px;
    height:16px;
}

.u7 {
    position:absolute;
    left:2px;
    top:0px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_line {
    background-image: url('../新浪微博_1_files/u8_line.png');
}

.u8_line {
    position:absolute;
    left:0px;
    top:4px;
    width:300px;
    height:3px;
}

.u8 {
    position:absolute;
    left:10px;
    top:97px;
    width:300px;
    height:10px;
    
}

.u9_normal {
    background-image: url('../新浪微博_1_files/u9_normal.png');
}

.u9_container {
    position:absolute;
    left:10px;
    top:52px;
    width:300px;
    height:50px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:306px;
    height:56px;
}

.u10 {
    position:absolute;
    left:10px;
    top:18px;
    width:288px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../新浪微博_1_files/u9_normal.png');
}

.u11_container {
    position:absolute;
    left:10px;
    top:102px;
    width:300px;
    height:50px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:306px;
    height:56px;
}

.u12 {
    position:absolute;
    left:10px;
    top:18px;
    width:288px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../新浪微博_1_files/u9_normal.png');
}

.u13_container {
    position:absolute;
    left:10px;
    top:152px;
    width:300px;
    height:50px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:306px;
    height:56px;
}

.u14 {
    position:absolute;
    left:10px;
    top:18px;
    width:288px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_line {
    background-image: url('../新浪微博_1_files/u15_line.png');
}

.u15_line {
    position:absolute;
    left:0px;
    top:4px;
    width:300px;
    height:3px;
}

.u15 {
    position:absolute;
    left:10px;
    top:97px;
    width:300px;
    height:10px;
    
}

.u16_line {
    background-image: url('../新浪微博_1_files/u16_line.png');
}

.u16_line {
    position:absolute;
    left:0px;
    top:4px;
    width:300px;
    height:3px;
}

.u16 {
    position:absolute;
    left:10px;
    top:146px;
    width:300px;
    height:10px;
    
}

.u17_normal {
    background-image: url('../新浪微博_1_files/u17_normal.png');
}

.u17_container {
    position:absolute;
    left:236px;
    top:166px;
    width:64px;
    height:24px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:70px;
    height:30px;
}

.u18 {
    position:absolute;
    left:16px;
    top:4px;
    width:46px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../新浪微博_1_files/u19_normal.png');
}

.u19_container {
    position:absolute;
    left:276px;
    top:166px;
    width:24px;
    height:24px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:30px;
    height:30px;
}

.u20 {
    position:absolute;
    left:2px;
    top:4px;
    width:20px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

