body {
    margin: 0px;
    background-color: #333333;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../搜索_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:460px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:466px;
}

.u1 {
    position:absolute;
    left:2px;
    top:222px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../搜索_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:10px;
    top:376px;
    width:40px;
    height:40px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:46px;
}

.u3 {
    position:absolute;
    left:2px;
    top:12px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:70px;
    top:388px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../搜索_files/u5_normal.png');
}

.u5_container {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:44px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:50px;
}

.u6 {
    position:absolute;
    left:2px;
    top:12px;
    width:316px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../搜索_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:0px;
    top:44px;
    width:320px;
    height:4px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:10px;
}

.u8 {
    position:absolute;
    left:2px;
    top:-6px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../搜索_files/u9_normal.png');
}

.u9_container {
    position:absolute;
    left:10px;
    top:14px;
    width:10px;
    height:16px;
}

#u9_img {
    position:absolute;
    left:0px;
    top:0px;
    width:10px;
    height:16px;
}

.u10 {
    position:absolute;
    left:2px;
    top:0px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:10px;
    top:54px;
    width:300px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 12px;
    color:#AEAEAE;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u11_text_sketch {
    font-family: '微软雅黑';
}

.u12_normal {
    background-image: url('../搜索_files/u12_normal.png');
}

.u12_container {
    position:absolute;
    left:15px;
    top:60px;
    width:16px;
    height:16px;
}

#u12_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:16px;
}

.u13 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../搜索_files/u2_normal.png');
}

.u14_container {
    position:absolute;
    left:10px;
    top:94px;
    width:40px;
    height:40px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:46px;
}

.u15 {
    position:absolute;
    left:2px;
    top:12px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:70px;
    top:106px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_line {
    background-image: url('../搜索_files/u17_line.png');
}

.u17_line {
    position:absolute;
    left:0px;
    top:4px;
    width:320px;
    height:3px;
}

.u17 {
    position:absolute;
    left:0px;
    top:144px;
    width:320px;
    height:10px;
    
}

.u18_normal {
    background-image: url('../搜索_files/u2_normal.png');
}

.u18_container {
    position:absolute;
    left:10px;
    top:164px;
    width:40px;
    height:40px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:46px;
}

.u19 {
    position:absolute;
    left:2px;
    top:12px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:70px;
    top:176px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_line {
    background-image: url('../搜索_files/u21_line.png');
}

.u21_line {
    position:absolute;
    left:0px;
    top:4px;
    width:320px;
    height:3px;
}

.u21 {
    position:absolute;
    left:0px;
    top:214px;
    width:320px;
    height:10px;
    
}

.u22_normal {
    background-image: url('../搜索_files/u2_normal.png');
}

.u22_container {
    position:absolute;
    left:10px;
    top:234px;
    width:40px;
    height:40px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:46px;
}

.u23 {
    position:absolute;
    left:2px;
    top:12px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:70px;
    top:246px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_line {
    background-image: url('../搜索_files/u25_line.png');
}

.u25_line {
    position:absolute;
    left:0px;
    top:4px;
    width:320px;
    height:3px;
}

.u25 {
    position:absolute;
    left:0px;
    top:284px;
    width:320px;
    height:10px;
    
}

.u26_normal {
    background-image: url('../搜索_files/u2_normal.png');
}

.u26_container {
    position:absolute;
    left:10px;
    top:304px;
    width:40px;
    height:40px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:46px;
}

.u27 {
    position:absolute;
    left:2px;
    top:12px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:70px;
    top:316px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_line {
    background-image: url('../搜索_files/u29_line.png');
}

.u29_line {
    position:absolute;
    left:0px;
    top:4px;
    width:320px;
    height:3px;
}

.u29 {
    position:absolute;
    left:0px;
    top:354px;
    width:320px;
    height:10px;
    
}

#u30 {
    position:absolute;
    left:10px;
    top:79px;
    width:301px;
    height:351px;
    overflow:hidden;
}

#pd0u30 {
    position:absolute;
    left:0px;
    top:0px;
    width:301px;
    height:351px;
    
}

.u31_normal {
    background-image: url('../搜索_files/u31_normal.png');
}

.u31_container {
    position:absolute;
    left:0px;
    top:0px;
    width:300px;
    height:50px;
}

#u31_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:306px;
    height:56px;
}

.u32 {
    position:absolute;
    left:10px;
    top:18px;
    width:288px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_normal {
    background-image: url('../搜索_files/u31_normal.png');
}

.u33_container {
    position:absolute;
    left:0px;
    top:50px;
    width:300px;
    height:50px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:306px;
    height:56px;
}

.u34 {
    position:absolute;
    left:10px;
    top:18px;
    width:288px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_normal {
    background-image: url('../搜索_files/u31_normal.png');
}

.u35_container {
    position:absolute;
    left:0px;
    top:100px;
    width:300px;
    height:50px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:306px;
    height:56px;
}

.u36 {
    position:absolute;
    left:10px;
    top:18px;
    width:288px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_normal {
    background-image: url('../搜索_files/u31_normal.png');
}

.u37_container {
    position:absolute;
    left:0px;
    top:150px;
    width:300px;
    height:50px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:306px;
    height:56px;
}

.u38 {
    position:absolute;
    left:10px;
    top:18px;
    width:288px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_normal {
    background-image: url('../搜索_files/u31_normal.png');
}

.u39_container {
    position:absolute;
    left:0px;
    top:200px;
    width:300px;
    height:50px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:306px;
    height:56px;
}

.u40 {
    position:absolute;
    left:10px;
    top:18px;
    width:288px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_normal {
    background-image: url('../搜索_files/u31_normal.png');
}

.u41_container {
    position:absolute;
    left:0px;
    top:250px;
    width:300px;
    height:50px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:306px;
    height:56px;
}

.u42 {
    position:absolute;
    left:10px;
    top:18px;
    width:288px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_normal {
    background-image: url('../搜索_files/u31_normal.png');
}

.u43_container {
    position:absolute;
    left:0px;
    top:300px;
    width:300px;
    height:50px;
}

#u43_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:306px;
    height:56px;
}

.u44 {
    position:absolute;
    left:10px;
    top:18px;
    width:288px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

