<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:custome="http://schemas.android.com/apk/res/com.example.sansheng"
    package="com.lekoko.sansheng"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="3"
        android:targetSdkVersion="8" />

    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <application
        android:name="com.application.CommonApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Sherlock" >
        /** Index    android:name="com.activity.index.IndexActivity"**/
       /** android:theme="@style/Theme.Sherlock"  **/
     	/** setting   com.activity.setting.SettingActivity **/
      	/**news   com.activity.company.news.NewsActivity**/
      	/**  com.activity.index.LoginActivity  **/
	/**  com.activity.shop.address.AddAddressActivity**/
	/** android:name="com.activity.bill.BillActivity" **/
	/**com.activity.shop.payment.PaymentActivity **/
        <activity
            android:name="com.activity.index.LoginActivity"
            android:launchMode="singleInstance" >
        </activity>
        <activity
            android:name="com.activity.bill.AchievementActivity"
            android:launchMode="singleInstance" >
        </activity>
        <activity
            android:name="com.activity.shop.ShopActivity"
            android:launchMode="standard" >
        </activity>
        <activity
            android:name="com.activity.index.IndexActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateAlwaysHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.activity.schedule.ScheduleActivity"
            android:launchMode="standard" >
        </activity>
        <activity
            android:name="com.activity.schedule.AddScheduleActivity"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        <activity android:name="com.activity.schedule.SelectCustomeActivity" >
        </activity>
        <activity android:name="com.companies.companies" >
        </activity>
        <activity
            android:name="com.activity.company.CompanyIndexActivity"
            android:launchMode="singleTask" >
        </activity>
        <activity android:name="com.activity.company.announcement.AnnouncementActivity" >
        </activity>
        <activity android:name="com.activity.company.introduce.IntroduceAcitity" >
        </activity>
        <activity android:name="com.activity.company.news.NewsActivity" >
        </activity>
        <activity android:name="com.activity.company.sale.SaleActivity" >
        </activity>
        <activity android:name="com.activity.setting.feedback.FeedBackActivity" >
        </activity>
        <activity android:name="com.activity.setting.bindsetting.BindSettingActivity" >
        </activity>
        <activity android:name="com.activity.setting.about.AboutActivity" >
        </activity>
        <activity android:name="com.activity.setting.bindsetting.tecent.TecentLoginActivity" >
        </activity>
        <activity android:name="com.activity.setting.bindsetting.sina.SinaLogingActivity" >
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.activity.setting.SettingActivity" >
        </activity>
        <!-- Index -->
        <activity android:name="com.activity.company.brands.BrandsActivity" >
        </activity>
        <activity android:name="com.activity.company.cultural.CulturalActivity" >
        </activity>
        <activity android:name="com.activity.company.quality.QualityActivity" >
        </activity>
        <activity android:name="com.activity.company.community.CommunityActivity" >
        </activity>
        <activity android:name="com.activity.company.produce.ProduceActivity" >
        </activity>
        <activity android:name="com.activity.company.honor.Honour_Activity" >
        </activity>
        <activity android:name="com.activity.company.InfoDetailActivity" >
        </activity>

        <!-- Shop -->
        <activity android:name="com.activity.shop.detail.ShopDetailActivity" >
        </activity>
        <activity android:name="com.activity.shop.brand.BrandActivity" >
        </activity>
        <activity android:name="com.activity.shop.car.ShopCarActivity" >
        </activity>
        <activity android:name="com.activity.shop.search.SearchActivity" >
        </activity>
        <activity android:name="com.activity.shop.sumary.SumaryActivity" >
        </activity>
        <activity android:name="com.activity.shop.address.ReapActivity" >
        </activity>
        <activity android:name="com.activity.shop.address.AddAddressActivity" >
        </activity>
        <activity
            android:name="com.activity.shop.address.EditAddressActivity"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.activity.shop.address.AddressActivity"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity android:name="com.activity.shop.address.RoomAddressActivity" >
        </activity>
        <activity
            android:name="com.activity.shop.payment.PaymentActivity"
            android:launchMode="standard" >
        </activity>
        <!--
        <activity
            android:name="com.activity.bill.BillActivity"
            android:launchMode="standard" >
        </activity>
        -->
        <activity
            android:name="com.activity.custome.CustomInfoActivity"
            android:launchMode="standard" >
        </activity>

        <!-- custome -->
        <activity
            android:name="com.activity.custome.CustomeIndexActivity"
            android:launchMode="standard"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        <activity
            android:name="com.activity.custome.CustomeDetailActivity"
            android:launchMode="standard"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>

        <!-- pusch  service -->
        <!-- push service client -->
        <receiver android:name="com.push.PushMessageReceiver" >
            <intent-filter>

                <!-- 接收push消息 -->
                <action android:name="com.baidu.android.pushservice.action.MESSAGE" />
                <!-- 接收bind,unbind,fetch,delete等反馈消息 -->
                <action android:name="com.baidu.android.pushservice.action.RECEIVE" />
                <action android:name="com.baidu.android.pushservice.action.notification.CLICK" />
            </intent-filter>
        </receiver>

        <!-- push service -->
        <receiver
            android:name="com.baidu.android.pushservice.PushServiceReceiver"
            android:process=":bdservice_v1" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="com.baidu.android.pushservice.action.notification.SHOW" />
                <action android:name="com.baidu.android.pushservice.action.media.CLICK" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.baidu.android.pushservice.RegistrationReceiver"
            android:process=":bdservice_v1" >
            <intent-filter>
                <action android:name="com.baidu.android.pushservice.action.METHOD" />
                <action android:name="com.baidu.android.pushservice.action.BIND_SYNC" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.baidu.android.pushservice.PushService"
            android:exported="true"
            android:process=":bdservice_v1" />

        <meta-data
            android:name="api_key"
            android:value="ZugshYGA7pQhfnmTV9AChV1y" />
    </application>

</manifest>