body {
    margin: 0px;
    background-color: #333333;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../我要提货_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:460px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:466px;
}

.u1 {
    position:absolute;
    left:2px;
    top:222px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../我要提货_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:44px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:50px;
}

.u3 {
    position:absolute;
    left:2px;
    top:12px;
    width:316px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../我要提货_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:10px;
    top:14px;
    width:10px;
    height:16px;
}

#u4_img {
    position:absolute;
    left:0px;
    top:0px;
    width:10px;
    height:16px;
}

.u5 {
    position:absolute;
    left:2px;
    top:0px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../我要提货_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:10px;
    top:164px;
    width:300px;
    height:70px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:306px;
    height:76px;
}

.u7 {
    position:absolute;
    left:10px;
    top:27px;
    width:288px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../我要提货_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:40px;
    top:174px;
    width:47px;
    height:50px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:53px;
    height:56px;
}

.u9 {
    position:absolute;
    left:2px;
    top:17px;
    width:43px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:96px;
    top:174px;
    width:188px;
    height:44px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:270px;
    top:184px;
    width:30px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 12px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u11_text_sketch {
    font-family: '微软雅黑';
}

.u12_line {
    background-image: url('../我要提货_files/u12_line.png');
}

.u12_line {
    position:absolute;
    left:0px;
    top:4px;
    width:300px;
    height:3px;
}

.u12 {
    position:absolute;
    left:10px;
    top:229px;
    width:300px;
    height:10px;
    
}

.u14 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../我要提货_files/u6_normal.png');
}

.u15_container {
    position:absolute;
    left:10px;
    top:94px;
    width:300px;
    height:70px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:306px;
    height:76px;
}

.u16 {
    position:absolute;
    left:10px;
    top:27px;
    width:288px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../我要提货_files/u8_normal.png');
}

.u17_container {
    position:absolute;
    left:40px;
    top:104px;
    width:47px;
    height:50px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:53px;
    height:56px;
}

.u18 {
    position:absolute;
    left:2px;
    top:17px;
    width:43px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:96px;
    top:104px;
    width:188px;
    height:44px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../我要提货_files/u20_normal.png');
}

.u20_container {
    position:absolute;
    left:10px;
    top:54px;
    width:300px;
    height:40px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:306px;
    height:46px;
}

.u21 {
    position:absolute;
    left:10px;
    top:12px;
    width:288px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_normal {
    background-image: url('../我要提货_files/u6_normal.png');
}

.u22_container {
    position:absolute;
    left:10px;
    top:284px;
    width:300px;
    height:70px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:306px;
    height:76px;
}

.u23 {
    position:absolute;
    left:10px;
    top:27px;
    width:288px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_normal {
    background-image: url('../我要提货_files/u8_normal.png');
}

.u24_container {
    position:absolute;
    left:20px;
    top:294px;
    width:47px;
    height:50px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:53px;
    height:56px;
}

.u25 {
    position:absolute;
    left:2px;
    top:17px;
    width:43px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:77px;
    top:294px;
    width:188px;
    height:44px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../我要提货_files/u20_normal.png');
}

.u27_container {
    position:absolute;
    left:10px;
    top:244px;
    width:300px;
    height:40px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:306px;
    height:46px;
}

.u28 {
    position:absolute;
    left:10px;
    top:12px;
    width:288px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:270px;
    top:121px;
    width:30px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 12px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u29_text_sketch {
    font-family: '微软雅黑';
}

.u30_normal {
    background-image: url('../我要提货_files/u30_normal.png');
}

.u30_container {
    position:absolute;
    left:240px;
    top:59px;
    width:60px;
    height:24px;
}

#u30_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:30px;
}

.u31 {
    position:absolute;
    left:2px;
    top:5px;
    width:56px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32 {
    position:absolute;
    left:220px;
    top:329px;
    width:80px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_line {
    background-image: url('../我要提货_files/u33_line.png');
}

.u33_line {
    position:absolute;
    left:0px;
    top:4px;
    width:300px;
    height:3px;
}

.u33 {
    position:absolute;
    left:10px;
    top:159px;
    width:300px;
    height:10px;
    
}

.u35 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38_normal {
    background-image: url('../我要提货_files/u38_normal.png');
}

.u38_container {
    position:absolute;
    left:220px;
    top:244px;
    width:90px;
    height:40px;
}

#u38_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:46px;
}

.u39 {
    position:absolute;
    left:10px;
    top:6px;
    width:70px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_normal {
    background-image: url('../我要提货_files/u40_normal.png');
}

.u40_container {
    position:absolute;
    left:360px;
    top:94px;
    width:180px;
    height:80px;
}

#u40_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:86px;
}

.u41 {
    position:absolute;
    left:10px;
    top:10px;
    width:168px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42 {
    position:absolute;
    left:360px;
    top:63px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_start {
    background-image: url('../我要提货_files/u43_start.png');
}

.u43_start {
    position:absolute;
    left:-4px;
    top:-5px;
    width:14px;
    height:20px;
}

.u43_line {
    background-image: url('../我要提货_files/u43_line.png');
}

.u43_line {
    position:absolute;
    left:0px;
    top:4px;
    width:20px;
    height:3px;
}

.u43 {
    position:absolute;
    left:330px;
    top:66px;
    width:20px;
    height:10px;
    
}

.u44_normal {
    background-image: url('../我要提货_files/u44_normal.png');
}

.u44_container {
    position:absolute;
    left:0px;
    top:44px;
    width:320px;
    height:4px;
}

#u44_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:10px;
}

.u45 {
    position:absolute;
    left:2px;
    top:-6px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

