body {
    margin: 0px;
    background-color: #333333;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../日程提醒_3_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:460px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:466px;
}

.u1 {
    position:absolute;
    left:2px;
    top:222px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../日程提醒_3_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:10px;
    top:54px;
    width:300px;
    height:40px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:306px;
    height:46px;
}

.u3 {
    position:absolute;
    left:2px;
    top:12px;
    width:296px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../日程提醒_3_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:10px;
    top:134px;
    width:300px;
    height:40px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:306px;
    height:46px;
}

.u5 {
    position:absolute;
    left:2px;
    top:12px;
    width:296px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../日程提醒_3_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:10px;
    top:94px;
    width:300px;
    height:40px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:306px;
    height:46px;
}

.u7 {
    position:absolute;
    left:2px;
    top:12px;
    width:296px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../日程提醒_3_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:44px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:50px;
}

.u9 {
    position:absolute;
    left:2px;
    top:12px;
    width:316px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../日程提醒_3_files/u10_normal.png');
}

.u10_container {
    position:absolute;
    left:0px;
    top:44px;
    width:320px;
    height:4px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:10px;
}

.u11 {
    position:absolute;
    left:2px;
    top:-6px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:16px;
    top:0px;
    width:149px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:16px;
    top:0px;
    width:149px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:16px;
    top:0px;
    width:149px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:10px;
    top:184px;
    width:300px;
    height:30px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 12px;
    color:#999999;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u18_text_sketch {
    font-family: '微软雅黑';
}

.u19_normal {
    background-image: url('../日程提醒_3_files/u19_normal.png');
}

.u19_container {
    position:absolute;
    left:10px;
    top:274px;
    width:300px;
    height:40px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:306px;
    height:46px;
}

.u20 {
    position:absolute;
    left:10px;
    top:12px;
    width:288px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../日程提醒_3_files/u21_normal.png');
}

.u21_container {
    position:absolute;
    left:260px;
    top:10px;
    width:50px;
    height:24px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:30px;
}

.u22 {
    position:absolute;
    left:2px;
    top:4px;
    width:46px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../日程提醒_3_files/u19_normal.png');
}

.u23_container {
    position:absolute;
    left:10px;
    top:224px;
    width:300px;
    height:40px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:306px;
    height:46px;
}

.u24 {
    position:absolute;
    left:10px;
    top:12px;
    width:288px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u25 {
    position:absolute;
    left:0px;
    top:200px;
    width:321px;
    height:261px;
    overflow:hidden;
}

#pd0u25 {
    position:absolute;
    left:0px;
    top:0px;
    width:321px;
    height:261px;
    
}

.u26_normal {
    background-image: url('../日程提醒_3_files/u26_normal.png');
}

.u26_container {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:260px;
}

#u26_img {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:260px;
}

.u27 {
    position:absolute;
    left:2px;
    top:122px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u28 {
    position:absolute;
    left:251px;
    top:8px;
    width:57px;
    height:28px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u29 {
    position:absolute;
    left:10px;
    top:8px;
    width:57px;
    height:28px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

.u30_normal {
    background-image: url('../日程提醒_3_files/u30_normal.png');
}

.u30_container {
    position:absolute;
    left:-10px;
    top:45px;
    width:330px;
    height:215px;
}

#u30_img {
    position:absolute;
    left:0px;
    top:0px;
    width:330px;
    height:215px;
}

.u31 {
    position:absolute;
    left:2px;
    top:100px;
    width:326px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_normal {
    background-image: url('../日程提醒_3_files/u32_normal.png');
}

.u32_container {
    position:absolute;
    left:288px;
    top:240px;
    width:5px;
    height:9px;
}

#u32_img {
    position:absolute;
    left:0px;
    top:0px;
    width:5px;
    height:9px;
}

.u33 {
    position:absolute;
    left:2px;
    top:-4px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_normal {
    background-image: url('../日程提醒_3_files/u32_normal.png');
}

.u34_container {
    position:absolute;
    left:288px;
    top:290px;
    width:5px;
    height:9px;
}

#u34_img {
    position:absolute;
    left:0px;
    top:0px;
    width:5px;
    height:9px;
}

.u35 {
    position:absolute;
    left:2px;
    top:-4px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36_normal {
    background-image: url('../日程提醒_3_files/u21_normal.png');
}

.u36_container {
    position:absolute;
    left:10px;
    top:10px;
    width:50px;
    height:24px;
}

#u36_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:30px;
}

.u37 {
    position:absolute;
    left:2px;
    top:4px;
    width:46px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:10px;
    top:324px;
    width:300px;
    height:30px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 12px;
    color:#999999;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u38_text_sketch {
    font-family: '微软雅黑';
}

