body {
    margin: 0px;
    background-color: #333333;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../日程提醒_2_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:460px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:466px;
}

.u1 {
    position:absolute;
    left:2px;
    top:222px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u2 {
    position:absolute;
    left:0px;
    top:44px;
    width:321px;
    height:417px;
    overflow:hidden;
}

#pd1u2 {
    position:absolute;
    left:0px;
    top:0px;
    width:321px;
    height:417px;
    
}

.u3_normal {
    background-image: url('../日程提醒_2_files/u3_normal.png');
}

.u3_container {
    position:absolute;
    left:0px;
    top:110px;
    width:320px;
    height:100px;
}

#u3_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:106px;
}

.u4 {
    position:absolute;
    left:10px;
    top:20px;
    width:308px;
    height:60px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../日程提醒_2_files/u3_normal.png');
}

.u5_container {
    position:absolute;
    left:0px;
    top:10px;
    width:320px;
    height:100px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:106px;
}

.u6 {
    position:absolute;
    left:10px;
    top:20px;
    width:308px;
    height:60px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_line {
    background-image: url('../日程提醒_2_files/u7_line.png');
}

.u7_line {
    position:absolute;
    left:0px;
    top:4px;
    width:320px;
    height:3px;
}

.u7 {
    position:absolute;
    left:0px;
    top:105px;
    width:320px;
    height:10px;
    
}

.u8_mouseOver {
    background-image: url('../日程提醒_2_files/日程安排_u8_mouseOver.png');
}

.u8_selected {
    background-image: url('../日程提醒_2_files/日程安排_u8_mouseOver.png');
}

.u8_normal {
    background-image: url('../日程提醒_2_files/日程安排_u8_mouseOver.png');
}

.u8_container {
    position:absolute;
    left:160px;
    top:372px;
    width:160px;
    height:44px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:166px;
    height:50px;
}

.u9 {
    position:absolute;
    left:2px;
    top:15px;
    width:156px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_mouseOver {
    background-image: url('../日程提醒_2_files/日程安排_u8_mouseOver.png');
}

.u10_selected {
    background-image: url('../日程提醒_2_files/日程安排_u8_mouseOver.png');
}

.u10_normal {
    background-image: url('../日程提醒_2_files/提醒事项_u10_normal.png');
}

.u10_container {
    position:absolute;
    left:0px;
    top:372px;
    width:160px;
    height:44px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:166px;
    height:50px;
}

.u11 {
    position:absolute;
    left:2px;
    top:15px;
    width:156px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_line {
    background-image: url('../日程提醒_2_files/u12_line.png');
}

.u12_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:44px;
}

.u12 {
    position:absolute;
    left:155px;
    top:372px;
    width:10px;
    height:44px;
    
}

.u13_normal {
    background-image: url('../日程提醒_2_files/u13_normal.png');
}

.u13_container {
    position:absolute;
    left:0px;
    top:372px;
    width:320px;
    height:4px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:10px;
}

.u14 {
    position:absolute;
    left:2px;
    top:-6px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../日程提醒_2_files/u15_normal.png');
}

.u15_container {
    position:absolute;
    left:276px;
    top:52px;
    width:14px;
    height:16px;
}

#u15_img {
    position:absolute;
    left:0px;
    top:0px;
    width:14px;
    height:16px;
}

.u16 {
    position:absolute;
    left:2px;
    top:0px;
    width:10px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../日程提醒_2_files/u15_normal.png');
}

.u17_container {
    position:absolute;
    left:276px;
    top:152px;
    width:14px;
    height:16px;
}

#u17_img {
    position:absolute;
    left:0px;
    top:0px;
    width:14px;
    height:16px;
}

.u18 {
    position:absolute;
    left:2px;
    top:0px;
    width:10px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u2 {
    position:absolute;
    left:0px;
    top:0px;
    width:321px;
    height:417px;
    
}

.u19_mouseOver {
    background-image: url('../日程提醒_2_files/日程安排_u8_mouseOver.png');
}

.u19_selected {
    background-image: url('../日程提醒_2_files/日程安排_u8_mouseOver.png');
}

.u19_normal {
    background-image: url('../日程提醒_2_files/提醒事项_u10_normal.png');
}

.u19_container {
    position:absolute;
    left:160px;
    top:372px;
    width:160px;
    height:44px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:166px;
    height:50px;
}

.u20 {
    position:absolute;
    left:2px;
    top:15px;
    width:156px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_mouseOver {
    background-image: url('../日程提醒_2_files/日程安排_u8_mouseOver.png');
}

.u21_selected {
    background-image: url('../日程提醒_2_files/日程安排_u8_mouseOver.png');
}

.u21_normal {
    background-image: url('../日程提醒_2_files/日程安排_u8_mouseOver.png');
}

.u21_container {
    position:absolute;
    left:0px;
    top:372px;
    width:160px;
    height:44px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:166px;
    height:50px;
}

.u22 {
    position:absolute;
    left:2px;
    top:15px;
    width:156px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_line {
    background-image: url('../日程提醒_2_files/u23_line.png');
}

.u23_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:44px;
}

.u23 {
    position:absolute;
    left:155px;
    top:372px;
    width:10px;
    height:44px;
    
}

#u24 {
    position:absolute;
    left:0px;
    top:0px;
    width:321px;
    height:383px;
    overflow:hidden;
}

#pd3u24 {
    position:absolute;
    left:0px;
    top:0px;
    width:321px;
    height:383px;
    
}

.u25_mouseOver {
    background-image: url('../日程提醒_2_files/生日提醒_u25_mouseOver.png');
}

.u25_selected {
    background-image: url('../日程提醒_2_files/生日提醒_u25_mouseOver.png');
}

.u25_normal {
    background-image: url('../日程提醒_2_files/生日提醒_u25_normal.png');
}

.u25_container {
    position:absolute;
    left:240px;
    top:0px;
    width:80px;
    height:36px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:42px;
}

.u26 {
    position:absolute;
    left:2px;
    top:10px;
    width:76px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_mouseOver {
    background-image: url('../日程提醒_2_files/生日提醒_u25_mouseOver.png');
}

.u27_selected {
    background-image: url('../日程提醒_2_files/生日提醒_u25_mouseOver.png');
}

.u27_normal {
    background-image: url('../日程提醒_2_files/生日提醒_u27_normal.png');
}

.u27_container {
    position:absolute;
    left:160px;
    top:0px;
    width:80px;
    height:36px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:42px;
}

.u28 {
    position:absolute;
    left:2px;
    top:10px;
    width:76px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../日程提醒_2_files/u29_normal.png');
}

.u29_container {
    position:absolute;
    left:0px;
    top:41px;
    width:320px;
    height:80px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:86px;
}

.u30 {
    position:absolute;
    left:10px;
    top:32px;
    width:308px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_line {
    background-image: url('../日程提醒_2_files/u31_line.png');
}

.u31_line {
    position:absolute;
    left:0px;
    top:4px;
    width:320px;
    height:3px;
}

.u31 {
    position:absolute;
    left:0px;
    top:116px;
    width:320px;
    height:10px;
    
}

.u32_mouseOver {
    background-image: url('../日程提醒_2_files/生日提醒_u25_mouseOver.png');
}

.u32_selected {
    background-image: url('../日程提醒_2_files/生日提醒_u25_mouseOver.png');
}

.u32_normal {
    background-image: url('../日程提醒_2_files/生日提醒_u27_normal.png');
}

.u32_container {
    position:absolute;
    left:0px;
    top:0px;
    width:80px;
    height:36px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:42px;
}

.u33 {
    position:absolute;
    left:2px;
    top:10px;
    width:76px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_mouseOver {
    background-image: url('../日程提醒_2_files/生日提醒_u25_mouseOver.png');
}

.u34_selected {
    background-image: url('../日程提醒_2_files/生日提醒_u25_mouseOver.png');
}

.u34_normal {
    background-image: url('../日程提醒_2_files/生日提醒_u27_normal.png');
}

.u34_container {
    position:absolute;
    left:80px;
    top:0px;
    width:80px;
    height:36px;
}

#u34_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:42px;
}

.u35 {
    position:absolute;
    left:2px;
    top:10px;
    width:76px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36_line {
    background-image: url('../日程提醒_2_files/u36_line.png');
}

.u36_line {
    position:absolute;
    left:0px;
    top:4px;
    width:320px;
    height:3px;
}

.u36 {
    position:absolute;
    left:0px;
    top:31px;
    width:320px;
    height:10px;
    
}

.u37_line {
    background-image: url('../日程提醒_2_files/u37_line.png');
}

.u37_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:36px;
}

.u37 {
    position:absolute;
    left:75px;
    top:0px;
    width:10px;
    height:36px;
    
}

.u38_line {
    background-image: url('../日程提醒_2_files/u38_line.png');
}

.u38_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:36px;
}

.u38 {
    position:absolute;
    left:155px;
    top:0px;
    width:10px;
    height:36px;
    
}

.u39_normal {
    background-image: url('../日程提醒_2_files/u15_normal.png');
}

.u39_container {
    position:absolute;
    left:276px;
    top:73px;
    width:14px;
    height:16px;
}

#u39_img {
    position:absolute;
    left:0px;
    top:0px;
    width:14px;
    height:16px;
}

.u40 {
    position:absolute;
    left:2px;
    top:0px;
    width:10px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_line {
    background-image: url('../日程提醒_2_files/u41_line.png');
}

.u41_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:36px;
}

.u41 {
    position:absolute;
    left:235px;
    top:0px;
    width:10px;
    height:36px;
    
}

#pd2u24 {
    position:absolute;
    left:0px;
    top:0px;
    width:321px;
    height:383px;
    
}

.u42_mouseOver {
    background-image: url('../日程提醒_2_files/生日提醒_u25_mouseOver.png');
}

.u42_selected {
    background-image: url('../日程提醒_2_files/生日提醒_u25_mouseOver.png');
}

.u42_normal {
    background-image: url('../日程提醒_2_files/生日提醒_u27_normal.png');
}

.u42_container {
    position:absolute;
    left:240px;
    top:0px;
    width:80px;
    height:36px;
}

#u42_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:42px;
}

.u43 {
    position:absolute;
    left:2px;
    top:10px;
    width:76px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44_mouseOver {
    background-image: url('../日程提醒_2_files/生日提醒_u25_mouseOver.png');
}

.u44_selected {
    background-image: url('../日程提醒_2_files/生日提醒_u25_mouseOver.png');
}

.u44_normal {
    background-image: url('../日程提醒_2_files/生日提醒_u25_normal.png');
}

.u44_container {
    position:absolute;
    left:160px;
    top:0px;
    width:80px;
    height:36px;
}

#u44_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:42px;
}

.u45 {
    position:absolute;
    left:2px;
    top:10px;
    width:76px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46_normal {
    background-image: url('../日程提醒_2_files/u46_normal.png');
}

.u46_container {
    position:absolute;
    left:0px;
    top:161px;
    width:320px;
    height:120px;
}

#u46_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:126px;
}

.u47 {
    position:absolute;
    left:10px;
    top:22px;
    width:308px;
    height:75px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48_line {
    background-image: url('../日程提醒_2_files/u48_line.png');
}

.u48_line {
    position:absolute;
    left:0px;
    top:4px;
    width:320px;
    height:3px;
}

.u48 {
    position:absolute;
    left:0px;
    top:276px;
    width:320px;
    height:10px;
    
}

.u49_normal {
    background-image: url('../日程提醒_2_files/u46_normal.png');
}

.u49_container {
    position:absolute;
    left:0px;
    top:41px;
    width:320px;
    height:120px;
}

#u49_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:126px;
}

.u50 {
    position:absolute;
    left:10px;
    top:22px;
    width:308px;
    height:75px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51_line {
    background-image: url('../日程提醒_2_files/u51_line.png');
}

.u51_line {
    position:absolute;
    left:0px;
    top:4px;
    width:320px;
    height:3px;
}

.u51 {
    position:absolute;
    left:0px;
    top:156px;
    width:320px;
    height:10px;
    
}

.u52_mouseOver {
    background-image: url('../日程提醒_2_files/生日提醒_u25_mouseOver.png');
}

.u52_selected {
    background-image: url('../日程提醒_2_files/生日提醒_u25_mouseOver.png');
}

.u52_normal {
    background-image: url('../日程提醒_2_files/生日提醒_u27_normal.png');
}

.u52_container {
    position:absolute;
    left:0px;
    top:0px;
    width:80px;
    height:36px;
}

#u52_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:42px;
}

.u53 {
    position:absolute;
    left:2px;
    top:10px;
    width:76px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54_mouseOver {
    background-image: url('../日程提醒_2_files/生日提醒_u25_mouseOver.png');
}

.u54_selected {
    background-image: url('../日程提醒_2_files/生日提醒_u25_mouseOver.png');
}

.u54_normal {
    background-image: url('../日程提醒_2_files/生日提醒_u27_normal.png');
}

.u54_container {
    position:absolute;
    left:80px;
    top:0px;
    width:80px;
    height:36px;
}

#u54_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:42px;
}

.u55 {
    position:absolute;
    left:2px;
    top:10px;
    width:76px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56_line {
    background-image: url('../日程提醒_2_files/u56_line.png');
}

.u56_line {
    position:absolute;
    left:0px;
    top:4px;
    width:320px;
    height:3px;
}

.u56 {
    position:absolute;
    left:0px;
    top:31px;
    width:320px;
    height:10px;
    
}

.u57_line {
    background-image: url('../日程提醒_2_files/u57_line.png');
}

.u57_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:36px;
}

.u57 {
    position:absolute;
    left:75px;
    top:0px;
    width:10px;
    height:36px;
    
}

.u58_line {
    background-image: url('../日程提醒_2_files/u58_line.png');
}

.u58_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:36px;
}

.u58 {
    position:absolute;
    left:155px;
    top:0px;
    width:10px;
    height:36px;
    
}

.u59_normal {
    background-image: url('../日程提醒_2_files/u15_normal.png');
}

.u59_container {
    position:absolute;
    left:273px;
    top:93px;
    width:14px;
    height:16px;
}

#u59_img {
    position:absolute;
    left:0px;
    top:0px;
    width:14px;
    height:16px;
}

.u60 {
    position:absolute;
    left:2px;
    top:0px;
    width:10px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61_normal {
    background-image: url('../日程提醒_2_files/u15_normal.png');
}

.u61_container {
    position:absolute;
    left:273px;
    top:213px;
    width:14px;
    height:16px;
}

#u61_img {
    position:absolute;
    left:0px;
    top:0px;
    width:14px;
    height:16px;
}

.u62 {
    position:absolute;
    left:2px;
    top:0px;
    width:10px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63_line {
    background-image: url('../日程提醒_2_files/u63_line.png');
}

.u63_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:36px;
}

.u63 {
    position:absolute;
    left:235px;
    top:0px;
    width:10px;
    height:36px;
    
}

#pd1u24 {
    position:absolute;
    left:0px;
    top:0px;
    width:321px;
    height:383px;
    
}

.u64_line {
    background-image: url('../日程提醒_2_files/u64_line.png');
}

.u64_line {
    position:absolute;
    left:0px;
    top:4px;
    width:320px;
    height:3px;
}

.u64 {
    position:absolute;
    left:0px;
    top:31px;
    width:320px;
    height:10px;
    
}

.u65_normal {
    background-image: url('../日程提醒_2_files/u29_normal.png');
}

.u65_container {
    position:absolute;
    left:0px;
    top:121px;
    width:320px;
    height:80px;
}

#u65_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:86px;
}

.u66 {
    position:absolute;
    left:10px;
    top:25px;
    width:308px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67_line {
    background-image: url('../日程提醒_2_files/u67_line.png');
}

.u67_line {
    position:absolute;
    left:0px;
    top:4px;
    width:320px;
    height:3px;
}

.u67 {
    position:absolute;
    left:0px;
    top:196px;
    width:320px;
    height:10px;
    
}

.u68_normal {
    background-image: url('../日程提醒_2_files/u29_normal.png');
}

.u68_container {
    position:absolute;
    left:0px;
    top:41px;
    width:320px;
    height:80px;
}

#u68_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:86px;
}

.u69 {
    position:absolute;
    left:10px;
    top:25px;
    width:308px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70_line {
    background-image: url('../日程提醒_2_files/u70_line.png');
}

.u70_line {
    position:absolute;
    left:0px;
    top:4px;
    width:320px;
    height:3px;
}

.u70 {
    position:absolute;
    left:0px;
    top:116px;
    width:320px;
    height:10px;
    
}

.u71_normal {
    background-image: url('../日程提醒_2_files/u71_normal.png');
}

.u71_container {
    position:absolute;
    left:250px;
    top:131px;
    width:60px;
    height:25px;
}

#u71_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:31px;
}

.u72 {
    position:absolute;
    left:2px;
    top:5px;
    width:56px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73_normal {
    background-image: url('../日程提醒_2_files/u71_normal.png');
}

.u73_container {
    position:absolute;
    left:180px;
    top:131px;
    width:60px;
    height:25px;
}

#u73_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:31px;
}

.u74 {
    position:absolute;
    left:2px;
    top:5px;
    width:56px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75_normal {
    background-image: url('../日程提醒_2_files/u15_normal.png');
}

.u75_container {
    position:absolute;
    left:276px;
    top:170px;
    width:14px;
    height:16px;
}

#u75_img {
    position:absolute;
    left:0px;
    top:0px;
    width:14px;
    height:16px;
}

.u76 {
    position:absolute;
    left:2px;
    top:0px;
    width:10px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77_normal {
    background-image: url('../日程提醒_2_files/u71_normal.png');
}

.u77_container {
    position:absolute;
    left:250px;
    top:51px;
    width:60px;
    height:25px;
}

#u77_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:31px;
}

.u78 {
    position:absolute;
    left:2px;
    top:5px;
    width:56px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79_normal {
    background-image: url('../日程提醒_2_files/u71_normal.png');
}

.u79_container {
    position:absolute;
    left:180px;
    top:51px;
    width:60px;
    height:25px;
}

#u79_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:31px;
}

.u80 {
    position:absolute;
    left:2px;
    top:5px;
    width:56px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81_normal {
    background-image: url('../日程提醒_2_files/u15_normal.png');
}

.u81_container {
    position:absolute;
    left:276px;
    top:90px;
    width:14px;
    height:16px;
}

#u81_img {
    position:absolute;
    left:0px;
    top:0px;
    width:14px;
    height:16px;
}

.u82 {
    position:absolute;
    left:2px;
    top:0px;
    width:10px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83_mouseOver {
    background-image: url('../日程提醒_2_files/生日提醒_u25_mouseOver.png');
}

.u83_selected {
    background-image: url('../日程提醒_2_files/生日提醒_u25_mouseOver.png');
}

.u83_normal {
    background-image: url('../日程提醒_2_files/生日提醒_u27_normal.png');
}

.u83_container {
    position:absolute;
    left:240px;
    top:0px;
    width:80px;
    height:36px;
}

#u83_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:42px;
}

.u84 {
    position:absolute;
    left:2px;
    top:10px;
    width:76px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85_mouseOver {
    background-image: url('../日程提醒_2_files/生日提醒_u25_mouseOver.png');
}

.u85_selected {
    background-image: url('../日程提醒_2_files/生日提醒_u25_mouseOver.png');
}

.u85_normal {
    background-image: url('../日程提醒_2_files/生日提醒_u27_normal.png');
}

.u85_container {
    position:absolute;
    left:160px;
    top:0px;
    width:80px;
    height:36px;
}

#u85_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:42px;
}

.u86 {
    position:absolute;
    left:2px;
    top:10px;
    width:76px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87_mouseOver {
    background-image: url('../日程提醒_2_files/生日提醒_u25_mouseOver.png');
}

.u87_selected {
    background-image: url('../日程提醒_2_files/生日提醒_u25_mouseOver.png');
}

.u87_normal {
    background-image: url('../日程提醒_2_files/生日提醒_u27_normal.png');
}

.u87_container {
    position:absolute;
    left:0px;
    top:0px;
    width:80px;
    height:36px;
}

#u87_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:42px;
}

.u88 {
    position:absolute;
    left:2px;
    top:11px;
    width:76px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89_mouseOver {
    background-image: url('../日程提醒_2_files/生日提醒_u25_mouseOver.png');
}

.u89_selected {
    background-image: url('../日程提醒_2_files/生日提醒_u25_mouseOver.png');
}

.u89_normal {
    background-image: url('../日程提醒_2_files/生日提醒_u25_normal.png');
}

.u89_container {
    position:absolute;
    left:80px;
    top:0px;
    width:80px;
    height:36px;
}

#u89_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:42px;
}

.u90 {
    position:absolute;
    left:2px;
    top:10px;
    width:76px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91_line {
    background-image: url('../日程提醒_2_files/u91_line.png');
}

.u91_line {
    position:absolute;
    left:0px;
    top:4px;
    width:320px;
    height:3px;
}

.u91 {
    position:absolute;
    left:0px;
    top:31px;
    width:320px;
    height:10px;
    
}

.u92_line {
    background-image: url('../日程提醒_2_files/u92_line.png');
}

.u92_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:36px;
}

.u92 {
    position:absolute;
    left:75px;
    top:0px;
    width:10px;
    height:36px;
    
}

.u93_line {
    background-image: url('../日程提醒_2_files/u93_line.png');
}

.u93_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:36px;
}

.u93 {
    position:absolute;
    left:155px;
    top:0px;
    width:10px;
    height:36px;
    
}

.u94_line {
    background-image: url('../日程提醒_2_files/u94_line.png');
}

.u94_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:36px;
}

.u94 {
    position:absolute;
    left:235px;
    top:0px;
    width:10px;
    height:36px;
    
}

#pd0u24 {
    position:absolute;
    left:0px;
    top:0px;
    width:321px;
    height:383px;
    
}

.u95_mouseOver {
    background-image: url('../日程提醒_2_files/生日提醒_u25_mouseOver.png');
}

.u95_selected {
    background-image: url('../日程提醒_2_files/生日提醒_u25_mouseOver.png');
}

.u95_normal {
    background-image: url('../日程提醒_2_files/生日提醒_u27_normal.png');
}

.u95_container {
    position:absolute;
    left:240px;
    top:0px;
    width:80px;
    height:36px;
}

#u95_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:42px;
}

.u96 {
    position:absolute;
    left:2px;
    top:10px;
    width:76px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97_mouseOver {
    background-image: url('../日程提醒_2_files/生日提醒_u25_mouseOver.png');
}

.u97_selected {
    background-image: url('../日程提醒_2_files/生日提醒_u25_mouseOver.png');
}

.u97_normal {
    background-image: url('../日程提醒_2_files/生日提醒_u27_normal.png');
}

.u97_container {
    position:absolute;
    left:160px;
    top:0px;
    width:80px;
    height:36px;
}

#u97_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:42px;
}

.u98 {
    position:absolute;
    left:2px;
    top:10px;
    width:76px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u99_normal {
    background-image: url('../日程提醒_2_files/u29_normal.png');
}

.u99_container {
    position:absolute;
    left:0px;
    top:121px;
    width:320px;
    height:80px;
}

#u99_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:86px;
}

.u100 {
    position:absolute;
    left:10px;
    top:18px;
    width:308px;
    height:45px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u101_line {
    background-image: url('../日程提醒_2_files/u101_line.png');
}

.u101_line {
    position:absolute;
    left:0px;
    top:4px;
    width:320px;
    height:3px;
}

.u101 {
    position:absolute;
    left:0px;
    top:196px;
    width:320px;
    height:10px;
    
}

.u102_normal {
    background-image: url('../日程提醒_2_files/u29_normal.png');
}

.u102_container {
    position:absolute;
    left:0px;
    top:41px;
    width:320px;
    height:80px;
}

#u102_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:86px;
}

.u103 {
    position:absolute;
    left:10px;
    top:18px;
    width:308px;
    height:45px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u104_normal {
    background-image: url('../日程提醒_2_files/u71_normal.png');
}

.u104_container {
    position:absolute;
    left:250px;
    top:51px;
    width:60px;
    height:25px;
}

#u104_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:31px;
}

.u105 {
    position:absolute;
    left:2px;
    top:5px;
    width:56px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u106_normal {
    background-image: url('../日程提醒_2_files/u71_normal.png');
}

.u106_container {
    position:absolute;
    left:180px;
    top:51px;
    width:60px;
    height:25px;
}

#u106_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:31px;
}

.u107 {
    position:absolute;
    left:2px;
    top:5px;
    width:56px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u108_line {
    background-image: url('../日程提醒_2_files/u108_line.png');
}

.u108_line {
    position:absolute;
    left:0px;
    top:4px;
    width:320px;
    height:3px;
}

.u108 {
    position:absolute;
    left:0px;
    top:116px;
    width:320px;
    height:10px;
    
}

.u109_mouseOver {
    background-image: url('../日程提醒_2_files/生日提醒_u25_mouseOver.png');
}

.u109_selected {
    background-image: url('../日程提醒_2_files/生日提醒_u25_mouseOver.png');
}

.u109_normal {
    background-image: url('../日程提醒_2_files/生日提醒_u25_normal.png');
}

.u109_container {
    position:absolute;
    left:0px;
    top:0px;
    width:80px;
    height:36px;
}

#u109_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:42px;
}

.u110 {
    position:absolute;
    left:2px;
    top:10px;
    width:76px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u111_mouseOver {
    background-image: url('../日程提醒_2_files/生日提醒_u25_mouseOver.png');
}

.u111_selected {
    background-image: url('../日程提醒_2_files/生日提醒_u25_mouseOver.png');
}

.u111_normal {
    background-image: url('../日程提醒_2_files/生日提醒_u27_normal.png');
}

.u111_container {
    position:absolute;
    left:80px;
    top:0px;
    width:80px;
    height:36px;
}

#u111_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:42px;
}

.u112 {
    position:absolute;
    left:2px;
    top:10px;
    width:76px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u113_line {
    background-image: url('../日程提醒_2_files/u113_line.png');
}

.u113_line {
    position:absolute;
    left:0px;
    top:4px;
    width:320px;
    height:3px;
}

.u113 {
    position:absolute;
    left:0px;
    top:31px;
    width:320px;
    height:10px;
    
}

.u114_line {
    background-image: url('../日程提醒_2_files/u114_line.png');
}

.u114_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:36px;
}

.u114 {
    position:absolute;
    left:75px;
    top:0px;
    width:10px;
    height:36px;
    
}

.u115_line {
    background-image: url('../日程提醒_2_files/u115_line.png');
}

.u115_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:36px;
}

.u115 {
    position:absolute;
    left:155px;
    top:0px;
    width:10px;
    height:36px;
    
}

.u116_normal {
    background-image: url('../日程提醒_2_files/u15_normal.png');
}

.u116_container {
    position:absolute;
    left:276px;
    top:90px;
    width:14px;
    height:16px;
}

#u116_img {
    position:absolute;
    left:0px;
    top:0px;
    width:14px;
    height:16px;
}

.u117 {
    position:absolute;
    left:2px;
    top:0px;
    width:10px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u118_normal {
    background-image: url('../日程提醒_2_files/u71_normal.png');
}

.u118_container {
    position:absolute;
    left:250px;
    top:131px;
    width:60px;
    height:25px;
}

#u118_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:31px;
}

.u119 {
    position:absolute;
    left:2px;
    top:5px;
    width:56px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u120_normal {
    background-image: url('../日程提醒_2_files/u71_normal.png');
}

.u120_container {
    position:absolute;
    left:180px;
    top:131px;
    width:60px;
    height:25px;
}

#u120_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:31px;
}

.u121 {
    position:absolute;
    left:2px;
    top:5px;
    width:56px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u122_normal {
    background-image: url('../日程提醒_2_files/u15_normal.png');
}

.u122_container {
    position:absolute;
    left:276px;
    top:170px;
    width:14px;
    height:16px;
}

#u122_img {
    position:absolute;
    left:0px;
    top:0px;
    width:14px;
    height:16px;
}

.u123 {
    position:absolute;
    left:2px;
    top:0px;
    width:10px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u124_line {
    background-image: url('../日程提醒_2_files/u124_line.png');
}

.u124_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:36px;
}

.u124 {
    position:absolute;
    left:235px;
    top:0px;
    width:10px;
    height:36px;
    
}

.u125_normal {
    background-image: url('../日程提醒_2_files/u13_normal.png');
}

.u125_container {
    position:absolute;
    left:0px;
    top:372px;
    width:320px;
    height:4px;
}

#u125_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:10px;
}

.u126 {
    position:absolute;
    left:2px;
    top:-6px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u127_normal {
    background-image: url('../日程提醒_2_files/u127_normal.png');
}

.u127_container {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:44px;
}

#u127_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:50px;
}

.u128 {
    position:absolute;
    left:2px;
    top:12px;
    width:316px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u129_normal {
    background-image: url('../日程提醒_2_files/u13_normal.png');
}

.u129_container {
    position:absolute;
    left:0px;
    top:44px;
    width:320px;
    height:4px;
}

#u129_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:10px;
}

.u130 {
    position:absolute;
    left:2px;
    top:-6px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u131_normal {
    background-image: url('../日程提醒_2_files/u131_normal.png');
}

.u131_container {
    position:absolute;
    left:10px;
    top:14px;
    width:10px;
    height:16px;
}

#u131_img {
    position:absolute;
    left:0px;
    top:0px;
    width:10px;
    height:16px;
}

.u132 {
    position:absolute;
    left:2px;
    top:0px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u133_mouseOver {
    background-image: url('../日程提醒_2_files/生日提醒_u133_mouseOver.png');
}

.u133_selected {
    background-image: url('../日程提醒_2_files/生日提醒_u133_mouseOver.png');
}

.u133_normal {
    background-image: url('../日程提醒_2_files/生日提醒_u133_normal.png');
}

.u133_container {
    position:absolute;
    left:260px;
    top:10px;
    width:50px;
    height:24px;
}

#u133_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:30px;
}

.u134 {
    position:absolute;
    left:2px;
    top:4px;
    width:46px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

